doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Page
  link(rel='stylesheet' href='/css/style.css')
.login-box
  h2 LOGIN
  form(onsubmit='return loginUser(event)' action='/login' method='post')
    input#email(type='text' name='email' placeholder='Enter email' required)
    input#password(type='password' name='password' placeholder='Enter password' required)
    button(type='submit') Login
  p(style='margin-top: 10px; text-align: center;')
    | Don't have an account? 
    a(href='/signup' style='color: blue; text-decoration: underline;') Sign Up
script(src='/script.js')
