doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MWF Attendant Dashboard
  link(rel='stylesheet' href='/public/css/style.css')
  link(rel='stylesheet' href='/public/attendant.css')
.navbar
  a(href='/attendantstock') RECORD STOCK
  a(href='/recordingSales') RECORD SALES
  a(href='/productsTable') PRODUCTS TABLE
  a(href='/loading') LOADING ITEMS
  a(href='/offLoading') OFFLOADING ITEMS
  a(href='/attendant') BACK
  a(href='/login') LOGOUT
#offloading.tab-content
  h3 Offloading Items
  form#offloadingForm
    .form-row
      .form-group
        label(for='offloadProductName') Product Name:
        input#offloadProductName(type='text' required='')
      .form-group
        label(for='offloadQuantity') Quantity Offloading:
        input#offloadQuantity(type='number' required='')
      .form-group
        label(for='offloadSource') Source:
        input#offloadSource(type='text' required='')
    .form-row
      .form-group
        label(for='offloadDate') Offloading Date:
        input#offloadDate(type='date' required='')
      .form-group
        label(for='offloadVehicle') Vehicle/Transport:
        input#offloadVehicle(type='text' required='')
    button.btn.btn-primary(type='submit') Record Offloading
  table#offloadingTable
    thead
      tr
        th Product Name
        th Quantity
        th Source
        th Date
        th Vehicle
        th Status
    tbody#offloadingTableBody
